.menubar {
	-fx-font-family: Lato;
	-fx-font-size: 14.5px
}

.song-list {
	-fx-font-size: 14.5px;
	-fx-font-family: Lato;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
.quick-control-button {
	-fx-border-color: #e8e8e8;
	-fx-padding: 10px;
	
}
.quick-control-button:hover {
	-fx-focus-color: #e8e8e8;
	-fx-border-color: #e8e8e8;
}
