.menubar {
	-fx-font-family: Lato;
	-fx-font-size: 14.5px
}

.song-list {
	-fx-font-size: 14.5px;
	-fx-font-family: Lato;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.label {
	-fx-font-family: Lato;
	-fx-font-size: 15px;
}

.title {
	-fx-font-family: Lato;
	-fx-font-size: 22px;
}

.content {
	-fx-font-family: Lato;
	-fx-font-size: 15px;
	-fx-border-color: transparent;
}
