.menubar {
	-fx-font-family: Lato;
	-fx-font-size: 14.5px
	/*-fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #094c80, #c828e0);*/
}

.menubar .menu:hover {
	/*-fx-background-color: #094c80;*/
}

.menuitem .label{
	-fx-text-fill: black;
}

.quick-menu {
}

.quick-control-button {

}

.song-list {
	-fx-font-size: 14.5px;
	-fx-font-family: Lato;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
